.footer-container{
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--red-dark);
  padding: 20px;
  margin-top: 40px;
}
.footer-container__list li{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 0;
}
.footer-container__list p{
  margin-left: 6px;
}
.footer-container__list li svg{
  width: 30px;
  height: 30px;
  filter: invert(1);
}
.footer-container__list li p a, .footer-container ul li p{
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--white);
}
.footer-my-logo img{
  width: 150px;
  height: 60px;
}

@media(min-width:530px){
  .footer-container{
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }
  .footer-container__list{
    display: flex;
    justify-content: center;
  }
  .footer-container__list li{
    margin-right: 30px;
  }
  .footer-my-logo img{
    width: 120px;
    height: 45px;
  }
}
@media(min-width:575px){
  .footer-container{
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding-bottom: 10px;
  }
}