.search-search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 50px 60px 0px rgba(65, 64, 64, 0.6);
}
.search-search input{
  width: 90%;
  height: 45px;
  border-radius: 30px;
  border: none;
  padding: 0 20px;
  font-size: 1.7rem;
  opacity: 0.8;
  color: var(--red-dark);
  outline: none;
}
.search-search input:hover{
  border: 1px solid var(--red);
}

.search-search a{
  width: 100px;
  height: 45px;
  position: absolute;
  right: 5%;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--white);
  border: none;
  border-radius: 30px;
  background: linear-gradient(var(--red), var(--red-dark));
  cursor: pointer;
}
.search-search a button{
  width: 100px;
  height: 45px;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--white);
  border: none;
  border-radius: 30px;
  background: linear-gradient(var(--red), var(--red-dark));
  cursor: pointer;
}
.search-search button:hover{
  background-color: rgb(51, 1, 1);
}

@media(min-width:1000px){
  .search-search input{
    width: 80%;
  }
  .search-search a{
    position: absolute;
    right: 10%;
  }
}