:root{
  --red: #E50914;
  --red-dark: #831010;
  --black: #000000;
  --gray-red: #564d4d;
  --white: #ffffff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: 'Montserrat';
  background-color: var(--black);
}
body::-webkit-scrollbar{
  width: 10px;
  background-color: rgba(75, 75, 75, 0.2);
  border-radius: 8px;
}
body::-webkit-scrollbar-thumb{
  background-color: #2b2b2b;
  border-radius: 8px;
}
